.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
}

.largestNumber {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    color: red
}